<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>404</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" type="image/jpg" href="/static/robot.ico">
        <style>
            button {
                cursor: pointer
            }
            html {
                text-align: center;
                font-family: sans-serif;
                user-select: none;
                -webkit-user-select: none;
                -ms-user-select: none;
            }
        </style>
    </head>
    <body>
        <h1>404</h1>
        <p>The page you were looking for could not be found.</p>
        <button onclick="redirect()">Back to homepage</button>
        <script>
            function redirect() {
                location.replace("/");
            }
        </script>
    </body>
</html>