<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>500</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" type="image/jpg" href="/static/robot.ico">
        <style>
            button {
                cursor: pointer
            }
            html {
                text-align: center;
                font-family: sans-serif;
                user-select: none;
                -webkit-user-select: none;
                -ms-user-select: none;
            }
        </style>
    </head>
    <body>
        <h1>500</h1>
        <p>Internal server error. This means that something went wrong on the server side. This has nothing to do with you device. The server could be overloaded or there could be an error in the application. Please try again later.</p>
    </body>
</html>