<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Control the Robot</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" type="image/jpg" href="/static/robot.ico">
        <style>
            button {
                cursor: pointer
            }
            html {
                text-align: center;
                font-family: sans-serif;
                user-select: none;
                -webkit-user-select: none;
                -ms-user-select: none;
            }
        </style>
        <script src = "/Index.js"></script>
    </head>
    <body>
        <h1>Control the Robot</h1>
        <p>Use the arrow keys to control the robot. The up arrow key will make it go forward, the down arrow key will make it go backward, the left arrow key will make the robot go left, and the right arrow key will make the robot go right. Below is the live video feed from the robot.</p>
        <img alt = "video_feed" src="/video_feed" width=900>
    </body>
</html>